pkgbase = arangom-bin
	pkgdesc = an ArangoDB migration tool written in Go
	pkgver = 0.2.0
	pkgrel = 1
	url = https://github.com/gabor-boros/arangom
	arch = x86_64
	license = MIT
	source = https://github.com/gabor-boros/arangom/releases/download/v0.2.0/arangom_0.2.0_Linux_x86_64.tar.gz
	source = https://github.com/gabor-boros/arangom/releases/download/v0.2.0/arangom_0.2.0_Linux_x86_64.tar.gz.sig
	validpgpkeys = 65433280EAD9CE7B763D84BCE726F2469D699A65
	sha512sums = 4b49175be07ad9821a7a584e4d30737a46518a2d215b3999aa2287ec8924963f45de251be52cbf3194cf42eab4025c7c96dbf6498220e06ee1912c551773b880
	sha512sums = SKIP

pkgname = arangom-bin
